{% load crispy_forms_tags %}
{% include 'blogs/navbar.html' %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<body>

    <form action="" method="post">
        {% csrf_token %}

        <section class="text-gray-700 body-font">
            <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
                <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                    <h1 class="title-font font-medium text-3xl text-gray-900">Slow-carb next level shoindcgoitch
                        ethical authentic, poko scenester</h1>
                    <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art
                        gentrify hammock starladder roathse. Craies vegan tousled etsy austin. testing321</p>
                </div>
           
                <div class="lg:w-2/6 md:w-1/2 bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Register Here</h2>
                    <fieldset>
                        <div
                            class="bg-white rounded border border-gray-400 focus:outline-none focus:border-purple-500 text-base px-4 py-2 mb-4">
                            {{form.username}}

                        </div>
                        <div
                            class="bg-white rounded border border-gray-400 focus:outline-none focus:border-purple-500 text-base px-4 py-2 mb-4">
                            {{form.email}}

                        </div>
                        <div
                            class="bg-white rounded border border-gray-400 focus:outline-none focus:border-purple-500 text-base px-4 py-2 mb-4">
                            {{form.password1}}

                        </div>
                        <div
                            class="bg-white rounded border border-gray-400 focus:outline-none focus:border-purple-500 text-base px-4 py-2 mb-4">
                            {{form.password2}}

                        </div>
                    </fieldset>

                    <button
                        class="text-white bg-purple-500 border-0 py-2 px-8 focus:outline-none hover:bg-purple-600 rounded text-lg"
                        type="submit">Submit</button>
                    <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.
                    </p>
                </div>
            </div>
        </section>
    </form>
    <script>
        var form = document.getElementsByTagName('input')
        form[1].placeholder = 'Username...'
        form[2].placeholder = 'Email...'
        form[3].placeholder = 'Password...'
        form[4].placeholder = 'Confirm Password...'

        for (var field in form) {
            form[field].className += 'form-control'
        }


    </script>

</body>